
body {
  height: 1100px;
}

header {
  font-size: 1.4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0em 1em;
  background-color: #222;
  color: #fff;
  position: fixed;
  width: 100%;
  height: 2.5em;
}

/* 왼쪽메뉴 */
.left-menu {
  display: flex;
  min-width: 8em;
  cursor: pointer;
}
.left-menu .logo {
  margin-left: 1.1em;
  display: flex;
  align-items: center;
}
.left-menu .logo::after {
  content: "";
  background-color: #fff;
  width: 15px;
  height: 15px;
  z-index: 1;
  transform: translate(-700%);
}
.logo .fa-youtube {
  color: red;
  font-size: 1.1em;
  padding-top: .1em;
  z-index: 2;
}
.logo .logo-title {
  font-family: 'oswald';
  font-size: .95em;
}
.logo .logo-country {
  font-size: .4em;
  color: #c0bfaf;
  align-self: start;
  padding-left: .3em;
}

/* 검색 메뉴 */
.search-form {
  display: flex;
  min-width: 2em;
  align-items: center;
}
.search-form.click{
  visibility: visible;
  width: 90vw;
  position:absolute;
  z-index: 3;
}
#search-cancel {
  background-color: #222;
  margin-right: 1em;
  cursor: pointer;
  visibility: hidden;
}
#search-cancel.click {
  visibility: visible;
}
.search-input{
  background-color: black;
  color: #fff;
  font-size: .8em;
  padding: .3em .3em;
  width: 30em;
  border: .1px solid #444;
  outline: none;
}
.search-input:focus-within {
  border: 1px solid royalblue;
}
.btn-find-text {
  background-color: #444;
  font-size: 2em;
  color: #fff;
  font-size: .9em;
  padding: .25em .9em;
  border: none;
  box-shadow: none;
  cursor: pointer;
}
.btn-find-text::after {
  content: "검색";
  position: absolute;
  transform: translate(-60%, 140%);
  background-color: #666;
  font-size: .5em;
  padding: 1.2em 1em;
  visibility: hidden;
  opacity: 0;
  transition: 100ms ease-in;
  cursor: auto;
}
.btn-find-text:hover::after {
  visibility: visible;
  opacity: 1;
}
.btn-find-voice {
  margin-left: .5em;
  border-radius: 50%;
  border:none;
  background-color: black;
  color: #fff;
  font-size: .7em;
  padding: .7em .85em;
  cursor: pointer;
}
.btn-find-voice::after {
  content: "음성으로 검색";
  position: absolute;
  transform: translate(-60%, 140%);
  background-color: #666;
  font-size: .5em;
  padding: 1.2em 1em;
  visibility: hidden;
  opacity: 0;
  transition: 100ms ease-in;
  cursor: auto;
}
.btn-find-voice:hover::after {
  visibility: visible;
  opacity: 1;
}

/* 오른쪽 메뉴 */
.right-menu {
  display: flex;
  justify-content: space-between;
  min-width: 7.5em;
  cursor: pointer;
}
.right-menu.click {
  visibility: hidden;
}
#search-hidden-icon {
  visibility: hidden;
}
#search-hidden-icon .fa-microphone {
  margin-left: 1.5em;
}
.btn-alarm {
  font-size: .9em;
}
.btn-alarm::after {
  content: "알림";
  position: absolute;
  transform: translate(-60%, 140%);
  background-color: #666;
  font-size: .5em;
  padding: 1.2em 1em;
  visibility: hidden;
  opacity: 0;
  transition: 100ms ease-in;
  cursor: auto;
}
.btn-alarm:hover::after {
  visibility: visible;
  opacity: 1;
}
#profile-icon {
  background-color: dodgerblue;
  width: 1.35em;
  height: 1.35em;
  border-radius: 50%;
}

/* 미디어 쿼리 */
@media (max-width:658px) {
  .search-form {
    visibility: hidden;
  }

  #search-hidden-icon {
    visibility: visible;
  }
  
}